<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>Guía de Productos Ecológicos</title>
</head>
<body>
  <header class="header">
    <div class="header__text">
      <h1>Guía de Productos Ecológicos</h1>
      <p>Encuentra productos que te ayudarán a ser más eficiente en tu hogar.</p>
    </div>
  </header>
  <main>
    <h2 class="main__title">Recomendaciones:</h2>
    <ul class="list">
        <li class="list__item">
            <a href="https://www.amazon.com/energy-efficient-lightbulbs/s?k=energy+efficient+lightbulbs" target="_blank">
                <span>Bombillas LED</span>
            </a>
        </li>
        <li class="list__item">
            <a href="https://www.amazon.com/eco-friendly-lighting/s?k=eco+friendly+lighting" target="_blank">
                <span>Iluminación Ecológica</span>
            </a>
        </li>
        <li class="list__item">
            <a href="https://www.amazon.com/solar-lights/s?k=solar+lights" target="_blank">
                <span>Lámparas Solares</span>
            </a>
        </li>
        <li class="list__item">
            <a href="https://www.amazon.com/smart-lighting/s?k=smart+lighting" target="_blank">
                <span>Iluminación Inteligente</span>
            </a>
        </li>
    </ul>
  </main>
  <footer>
    <p>© 2024 Guía de Productos Ecológicos</p>
  </footer>
</body>
</html>
